---
layout: page
title: "Blog"
description: "Miscellaneous food for thoughts"
header-img: "img/blog-bg.jpg"
order: 3
---

<p> Still under construction :( </p>

{% for post in site.categories.blog %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
</div>
<hr>
{% endfor %}


  